body{
	background-color: #22b573;
	padding: 25px;
}
.logo{
	width: 201px;
	float: right;
}
.navigation{
	float: right;
	margin-top: 30px;
	margin-right: 77px;
}
.navigation-li{
	display: inline-block;
}
a{
	font-size: 48px;
	color: white;
	padding: 40px;
}
.box{
	width: 582px;
	background-color: #fcee21;
	float: left;
	padding: 20px;
	margin-top: 170px;
	margin-left: 90px;
}
.pic1{
	width: 151px;
	float: right;
}
.text1{
	float: left;
	width: 370px;
}
.text2{
	width: 550px;
	float: left;
    margin-top: 30px;
}
.box2 .pic1{
	width: 151px;
	float: left;
}
.box2 .text1{
	float: left;
	width: 370px;
	color: #006837;
}
.box2 .text2{
	width: 550px;
	float: left;
    margin-top: 30px;
    color: #006837;
}
.box2{
	width: 582px;
	background-color: #fcee21;
	float: left;
	padding: 20px;
    margin-top: 67px;
    margin-right: 120px;
    display: block;
    float: right;
}
.conteinerfluit{
	margin-top: 70px;
}